<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="me.hibiki.crm.mapper.MenuMapper">
    <select id="selectByRoleId" resultType="Menu">
        SELECT m.menu_id,
               m.menu_name,
               m.menu_pid,
               m.menu_url
        FROM role r
                     LEFT JOIN role_menu rm ON r.role_id = rm.role_id
                     LEFT JOIN menu m ON m.menu_id = rm.menu_id
        where r.role_id = #{roleId,jdbcType=INTEGER} and menu_show = 1
    </select>
    <select id="selectPermissionByRoleName" resultType="java.lang.String">
        select m.menu_permission
        from menu m
                     left join role_menu rm on m.menu_id = rm.menu_id
                     left join role r
                on r.role_id = rm.role_id
                where r.role_name in
        <foreach collection="collection" item="roleName" open="(" separator="," close=")">
            #{roleName,jdbcType=VARCHAR}
        </foreach>
        and m.menu_permission != ''
    </select>
</mapper>